 <!-- ======= Header/ Navbar ======= -->
  
    <nav class="navbar navbar-b navbar-expand-md fixed-top navbar-reduce" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll" href="#page-top">Salon<br>Booking</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll active" href="/user/assistants">Assistants</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="/user/calender">Calender</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="/user/account">Account</a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>
  




<!-- ======= Portfolio Section ======= -->
<section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        ASSISTANTS
                    </h3>
                    <p class="subtitle-a">
                        Select your favourite.
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="work-box">
                    <a href="/images/team1.png" data-gall="portfolioGallery" class="venobox">
                        <div class="work-img">
                            <img src="/images/team1.png" alt="" class="img-fluid">
                        </div>
                    </a>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2 class="w-title">MARIO</h2>
                                <div class="w-more">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    <h2 class="w-title">skills</h2>
                                    <p>Colour
                                        Men's cut & finish
                                        Beard trim
                                        Shave
                                        Children & Teens
                                        Creative long hair
                                        Cut & Finish
                                        Shampoo & Finish
                                        Express colour
                                        Pedicure
                                        Manicure
                                        Eyebrows / Eyelash</p>
                                    <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2018</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="w-like">
                                    <a href="/user/book"> <span class="ion-ios-plus-outline"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="/images/team2.png" data-gall="portfolioGallery" class="venobox">
                        <div class="work-img">
                            <img src="/images/team2.png" alt="" class="img-fluid">
                        </div>
                    </a>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2 class="w-title">PABLO</h2>
                                <div class="w-more">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    <h2 class="w-title">skills</h2>
                                    <p>Colour
                                        Men's cut & finish
                                        Beard trim
                                        Shave
                                        Children & Teens
                                        Creative long hair
                                        Cut & Finish
                                        Shampoo & Finish
                                        Express colour
                                        Pedicure
                                        Manicure
                                        Eyebrows / Eyelash</p>
                                    <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2018</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="w-like">
                                    <a href="/user/book"> <span class="ion-ios-plus-outline"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="/images/team3.png" data-gall="portfolioGallery" class="venobox">
                        <div class="work-img">
                            <img src="/images/team3.png" alt="" class="img-fluid">
                        </div>
                    </a>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2 class="w-title">FRANK</h2>
                                <div class="w-more">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    <h2 class="w-title">skills</h2>
                                    <p>Colour
                                        Men's cut & finish
                                        Beard trim
                                        Shave
                                        Children & Teens
                                        Creative long hair
                                        Cut & Finish
                                        Shampoo & Finish
                                        Express colour
                                        Pedicure
                                        Manicure
                                        Eyebrows / Eyelash</p>
                                    <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2018</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="w-like">
                                    <a href="/user/book"> <span class="ion-ios-plus-outline"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-md-4">
                <div class="work-box">
                    <a href="/images/w1.jpg" data-gall="portfolioGallery" class="venobox">
                        <div class="work-img">
                            <img src="/images/w1.jpg" alt="" class="img-fluid">
                        </div>
                    </a>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2 class="w-title">MARIA</h2>
                                <div class="w-more">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    <h2 class="w-title">skills</h2>
                                    <p>Colour
                                        Men's cut & finish
                                        Beard trim
                                        Shave
                                        Children & Teens
                                        Creative long hair
                                        Cut & Finish
                                        Shampoo & Finish
                                        Express colour
                                        Pedicure
                                        Manicure
                                        Eyebrows / Eyelash</p>
                                    <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2018</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="w-like">
                                    <a href="/user/book"> <span class="ion-ios-plus-outline"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="/images/w2.jpg" data-gall="portfolioGallery" class="venobox">
                        <div class="work-img">
                            <img src="/images/w2.jpg" alt="" class="img-fluid">
                        </div>
                    </a>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2 class="w-title">KATY</h2>
                                <div class="w-more">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    <h2 class="w-title">skills</h2>
                                    <p>Colour
                                        Men's cut & finish
                                        Beard trim
                                        Shave
                                        Children & Teens
                                        Creative long hair
                                        Cut & Finish
                                        Shampoo & Finish
                                        Express colour
                                        Pedicure
                                        Manicure
                                        Eyebrows / Eyelash</p>
                                    <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2018</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="w-like">
                                    <a href="/user/book"> <span class="ion-ios-plus-outline"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="work-box">
                    <a href="/images/w3.jpg" data-gall="portfolioGallery" class="venobox">
                        <div class="work-img">
                            <img src="/images/w3.jpg" alt="" class="img-fluid">
                        </div>
                    </a>
                    <div class="work-content">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2 class="w-title">LISA</h2>
                                <div class="w-more">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    <h2 class="w-title">skills</h2>
                                    <p>Colour
                                        Men's cut & finish
                                        Beard trim
                                        Shave
                                        Children & Teens
                                        Creative long hair
                                        Cut & Finish
                                        Shampoo & Finish
                                        Express colour
                                        Pedicure
                                        Manicure
                                        Eyebrows / Eyelash</p>
                                    <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2018</span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="w-like">
                                    <a href="/user/book"> <span class="ion-ios-plus-outline"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section><!-- End Portfolio Section -->