<!-- ======= Header/ Navbar ======= -->
  
    <nav class="navbar navbar-b navbar-expand-md fixed-top navbar-reduce" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll" href="#page-top">Salon<br>Booking</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault" aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll active" href="/user/assistants">Assistants</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="/user/calender">Calender</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="/user/account">Account</a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>

<!-- ======= Counter Section ======= -->


<!-- ======= Contact Section ======= -->
<section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(images/beauty.png)">
    <div class="overlay-mf"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="contact-mf">
                    <div id="contact" class="box-shadow-full">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="title-box-2">
                                    <h5 class="title-left">
                                        BOOK AN APPOINTMENT
                                    </h5>
                                    <br>
                                    <h5>SELECT THE SERVICES YOU NEED</h5>
                                </div>
                                <div>


                                    <div class="panel-group" id="accordion">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion"
                                                        href="#collapse1">MEN</a>
                                                </h4>
                                            </div>
                                            <div id="collapse1" class="panel-collapse collapse in">
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="">Men's cut & finish
                                                        :30</label>
                                                </div>
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="">Beard trim :20</label>
                                                </div>
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="">Shave :20</label>
                                                </div>


                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion"
                                                        href="#collapse2">BEAUTY</a>
                                                </h4>
                                            </div>
                                            <div id="collapse2" class="panel-collapse collapse">
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="">Pedicure :30</label>
                                                </div>
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="">Manicure :20</label>
                                                </div>
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="">Eyebrows/Eyelash :20</label>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion"
                                                        href="#collapse3">STYLING</a>
                                                </h4>
                                            </div>
                                            <div id="collapse3" class="panel-collapse collapse">
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="">Children & teens :30</label>
                                                </div>
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="">Cut & finish :20</label>
                                                </div>
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="">Shampoo & finish :20</label>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion"
                                                        href="#collapse3">COLOUR</a>
                                                </h4>
                                            </div>
                                            <div id="collapse3" class="panel-collapse collapse">
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="">Colour :30</label>
                                                </div>
                                                <div class="checkbox">
                                                    <label><input type="checkbox" value="">Express colour :20</label>
                                                </div>


                                            </div>
                                        </div>
                                    </div>


                                    <p class="text-danger">Subtotal : 100</p>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="title-box-2 pt-4 pt-md-0">
                                    <h5 class="title-left">
                                        SELECT YOUR ASSISTANT
                                    </h5>
                                    <br>
                                    <h5>SHAVE</h5>
                                </div>
                                <div class="more-info">
                                    <div class="radio">
                                        <label><input type="radio" name="optradio" checked>MARIA</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="optradio">KATY</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="optradio">LISA</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="optradio">MARIO</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="optradio">PABLO</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" name="optradio">FRANK</label>
                                    </div>

                                </div>
                                <div class="socials">
                                    <div class="col-md-12 text-center">
                                        <a class="btn btn-primary" href="/user/date" role="button">Next</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Contact Section -->